<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="testeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\teste.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>